# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- Introduction to R and RStudio
- Introduction to Github

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciPy
4. Pandas

| Data Science Tools |
|---|
| TensorFlow |
| Excel |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [5]:
200/60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Narayanan S